<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border:solid 1px #000;
        }

    </style>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
        });
    </script>
</head>
<body>
    <h1>강좌 관리</h1>
    <div th:replace="fragments/layout.html :: fragement-admin-body-menu"></div>

    <div class="list">

        <table>
            <thead>
                <tr>
                    <th> ID </th>
                    <th>
                        강좌명
                    </th>
                    <th>
                        순서
                    </th>
                    <th>
                        사용여부
                    </th>
                    <th>
                        비고
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>


</body>
</html>